langchain
openai
pinecone-client
langchain-pinecone
langchain-openai
langchain_community
langchain-chroma
langchain-huggingface
langchain_google_genai
gpt4all
unstructured
python-dotenv
pypdf
pdfplumber
fastapi
uvicorn[standard]
requests
pydantic
streamlit
psycopg2-binary
sqlalchemy
alembic
passlib[bcrypt]
python-jose[cryptography]
python-multipart
streamlit-cookies-manager
selenium
webdriver-manager